<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Trang chủ - Hotel Management</title>

    <th:block th:replace="base :: head"></th:block>
</head>

<body>
    <div th:replace="base :: layout(~{::content})">
        <div th:fragment="content">
            <div class="container mt-4">
                <h3 class="text-center">Chào mừng <strong sec:authentication="name"></strong> đến với hệ thống của chúng tôi!</h3>
            </div>
        </div>
    </div>
</body>

</html>