<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <title
            th:text="${type.id != null} ? 'Chi tiết Loại phòng - Quản lý khách sạn' : ('Thêm Loại phòng - Quản lý khách sạn')">
        </title>

    <th:block th:replace="base :: head"></th:block>
</head>

<body>
    <div th:replace="base :: layout(~{::content})">
        <div th:fragment="content">
            <div class="container">
                <h2 class="text-center mb-3">
                    <span th:if="${type.id != null}">
                        <i class="fa-solid fa-pen-to-square me-2"></i> Chi tiết Loại phòng
                    </span>
                    <span th:unless="${type.id != null}">
                        <i class="fa-solid fa-type-plus me-2"></i> Thêm Loại phòng
                    </span>
                </h2>

                <form th:action="@{/room-types/save}" method="post" th:object="${type}" 
                      class="styled-form" enctype="multipart/form-data"> 
                    <div class="my-2">
                        <button type="submit" class="btn btn-success me-1">
                            <i class="fa-solid fa-save me-1"></i>
                            <span th:text="${type.id != null} ? 'Cập Nhật' : 'Lưu'"></span>
                        </button>
                        <button type="button" class="btn btn-danger"
                                th:onclick="|confirmAndRequest('@{/room-types/delete/{id}(id=${type.id})}', '@{/room-types}')|">
                            <i class="fa-solid fa-trash me-1"></i> Xóa
                        </button>
                        <a th:href="@{/room-types}" class="btn btn-secondary">
                            <i class="fa-solid fa-circle-left me-1"></i> Trở về
                        </a>
                    </div>

                    <div class="p-4 border rounded shadow-sm bg-light">
                        <input type="hidden" th:if="${type.id != null}" th:field="*{id}"> 
                        <div class="row"> 
                            <div class="col-md-6 mb-3"> 
                                <label for="name" class="form-label">Tên loại phòng</label> 
                                <input type="text" id="name" th:field="*{name}" class="form-control" required> 
                                <p class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p> 
                            </div> 
                            <div class="col-md-6 mb-3"> 
                                <label for="pricePerNight" class="form-label">Giá phòng</label> 
                                <input type="number" id="pricePerNight" th:field="*{pricePerNight}" class="form-control" min="1000" max="10000000" step="1000" required> 
                                <p class="text-danger" th:if="${#fields.hasErrors('pricePerNight')}" th:errors="*{pricePerNight}"></p>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="description" class="form-label">Mô tả</label>
                            <textarea id="description" th:field="*{description}" class="form-control"
                                      rows="3"></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="policy" class="form-label">Chính sách phòng</label>
                            <textarea id="policy" th:field="*{policy}" class="form-control"
                                      rows="3"></textarea>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>
        ClassicEditor
                .create(document.querySelector('#description'))
                .catch(error => {
                    console.error(error);
                });
        ClassicEditor
                .create(document.querySelector('#policy'))
                .catch(error => {
                    console.error(error);
                });
    </script>
</body>

</html>

